<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->
    
     <!-- BEGIN SHORTCUT ICON -->
     <link rel="shortcut icon" href="img/favicon.ico">
     <!-- END SHORTCUT ICON -->
     <title>
      后台首页
     </title>
     <!-- BEGIN STYLESHEET-->
	   {include file='pub/css'}
     <block name="css">

     </block>
     <!--[if lt IE 9]>
<script src="js/html5shiv.js">
</script>
<script src="js/respond.min.js">
</script>
<![endif]-->
     <!-- END STYLESHEET-->
  </head>
  <body>
    <!-- BEGIN SECTION -->
    <section id="container">
      <!-- 头部 -->
      {include file='pub/header'}
      <block name="header">
      </block>
      <!-- END HEADER -->
      <!-- BEGIN SIDEBAR -->
      <!-- 左侧边栏 -->
      {include file='pub/base'}
      {block name="sidebar"}

      {/block}
      <!-- END SIDEBAR -->
      <!-- BEGIN MAIN CONTENT -->
      
      
      <section id="main-content">
	  <!-- BEGIN WRAPPER  -->
        <section class="wrapper">
	       <div class="row state-overview">
          <h3>使用事项:</h3>
          <ol>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
          </ol>
         </div>
		   <!-- END ROW  -->
        </section>
		<!-- END WRAPPER  -->
      </section>
      <!-- END MAIN CONTENT -->
      <!-- BEGIN FOOTER -->
      {include file='pub/footer'}
         <block name='footer'>
         </block>
      <!-- END  FOOTER -->
    </section>
    <!-- END SECTION -->
    <!-- BEGIN JS -->
    {include file='pub/js'}
    <block name='js'>
    </block>
    <!-- END JS -->
  </body>
</html>


