<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->
    
     <!-- BEGIN SHORTCUT ICON -->
     <link rel="shortcut icon" href="img/favicon.ico">
     <!-- END SHORTCUT ICON -->
     <title>
      后台首页
     </title>
     <!-- BEGIN STYLESHEET-->
	   {include file='pub/css'}
     <block name="css">

     </block>
     <!--[if lt IE 9]>
<script src="js/html5shiv.js">
</script>
<script src="js/respond.min.js">
</script>
<![endif]-->
     <!-- END STYLESHEET-->
  </head>
  <body>
    <!-- BEGIN SECTION -->
    <section id="container">
      <!-- 头部 -->
      {include file='pub/header'}
      <block name="header">
      </block>
      <!-- END HEADER -->
      <!-- BEGIN SIDEBAR -->
      <!-- 左侧边栏 -->
      {include file='pub/base'}
      {block name="sidebar"}

      {/block}
      <!-- END SIDEBAR -->
      <!-- BEGIN MAIN CONTENT -->
      
      
      <section id="main-content">
	  <!-- BEGIN WRAPPER  -->
        <section class="wrapper">
	       <div class="row state-overview">
          <h4>使用事项:</h4>
          <ol>
            <li>请求接口返回url地址说明：</li>
    a：判断domain表中有没有对应的域名：<br>
        1.有：继续查找sku表中是否有对应的sku<br>
            (1)有：返回对应的url(域名拼接url)<br>
            (2)没有：返回跳转站对应的orders字段值  <br>
        2.没有：返回状态码3<br>
    b：没有：返回状态码3<br>

    <li>状态码</li>
    2：蜘蛛 =>不做处理，正常访问<br>
    3：找不到sku  =>跳转到404页面<br>
    4：用domain表中id没有找到sku_redirect表中对应的domain_id<br>

    <li>domain表中extension字段值不带www</li>
    <li>sku_redirect表中domain_id字段关联domain表中id字段</li>
          </ol>
         </div>
		   <!-- END ROW  -->
        </section>
		<!-- END WRAPPER  -->
      </section>
      <!-- END MAIN CONTENT -->
      <!-- BEGIN FOOTER -->
      {include file='pub/footer'}
         <block name='footer'>
         </block>
      <!-- END  FOOTER -->
    </section>
    <!-- END SECTION -->
    <!-- BEGIN JS -->
    {include file='pub/js'}
    <block name='js'>
    </block>
    <!-- END JS -->
  </body>
</html>


