{block name="sidebar"}
  <aside>
        <div id="sidebar" class="nav-collapse">
          <ul class="sidebar-menu" id="nav-accordion">
            <li >
              <a href="/admin_index" class="active">
                <i class="fa fa-dashboard">
                </i>
                <span>
                  首页
                </span>
              </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-laptop">
                </i>
                <span>
                  用户访问
                </span>
                <span class="label label-success span-sidebar">
                  1
                </span>
              </a>
              <ul class="sub">
                <li>
                  <a href="/user_index">
                    统计列表
                  </a>
                </li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-book">
                </i>
                <span>
                  sku对应url
                </span>
                <span class="label label-info span-sidebar">
                  1
                </span>
              </a>
              <ul class="sub">
                <li>
                  <a href="/sku_index">
                    信息列表
                  </a>
                </li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-cogs">
                </i>
                <span>
                  推广和下单站域名
                </span>
                <span class="label label-primary span-sidebar">
                  1
                </span>
              </a>
              <ul class="sub">
                <li>
                  <a href="/exandor_index">
                    信息列表
                  </a>
                </li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-tasks">
                </i>
                <span>
                  其他
                </span>
                <span class="label label-info span-sidebar">
                  1
                </span>
              </a>
              <ul class="sub">
                <li>
                  <a href="file_upload.html">
                     ...
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
  </aside>
</block>