<block name='js'>
	<script src="/static/js/jquery-1.8.3.min.js" ></script><!-- BASIC JQUERY 1.8.3 LIB. JS -->
    <script src="/static/js/bootstrap.min.js" ></script><!-- BOOTSTRAP JS -->
    <script src="/static/js/jquery.dcjqaccordion.2.7.js"></script><!-- ACCORDIN JS -->
    <script src="/static/js/jquery.scrollTo.min.js" ></script><!-- SCROLLTO JS -->
    <script src="/static/js/jquery.nicescroll.js" ></script><!-- NICESCROLL JS -->
    <script src="/static/js/respond.min.js" ></script><!-- RESPOND JS -->
    <script src="/static/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
    <script src="/static/js/sparkline-chart.js"></script><!-- SPARKLINE CHART JS -->
    <script src="/static/js/common-scripts.js"></script><!-- BASIC COMMON JS -->
    <script src="/static/js/count.js"></script><!-- COUNT JS -->
    
    <!--Calendar-->
    <script src="/static/js/calendar/clndr.js"></script><!-- CALENDER JS -->
    <script src="/static/js/calendar/evnt.calendar.init.js"></script><!-- CALENDER EVENT JS -->
    <script src="/static/js/calendar/moment-2.2.1.js"></script><!-- CALENDER MOMENT JS -->
    <script src="/static/js/underscore-min.js"></script><!-- UNDERSCORE JS -->
    <script src="/static/assets/jquery-knob/js/jquery.knob.js" ></script><!-- JQUERY KNOB JS -->
    <script src="/static/assets/data-tables/jquery.dataTables.js"></script><!-- DATATABLE JS  -->
    <script src="/static/assets/data-tables/DT_bootstrap.js"></script><!-- DATATABLE JS  -->
    <script >
      //knob
      $(".knob").knob();
      
    </script>
    <script src="/static/js/editable-table.js" ></script><!-- EDITABLE TABLE JS  -->
      <script >
         <!-- EDITABLE TABLE FUNCTION  -->
         jQuery(document).ready(function() {
             EditableTable.init();
         });
      </script>
</block>