<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- BEGIN META --> 
	  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="Custom Theme">
	  <!-- END META -->
     
      <!-- BEGIN SHORTCUT ICON -->
	  <link rel="shortcut icon" href="img/favicon.ico">
	  <!-- END SHORTCUT ICON -->
      <title>统计列表</title>
	  
	  <!-- BEGIN STYLESHEET --> 
      {include file='pub/css'}
      <block name="css">

      </block>
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
	  <!-- END STYLESHEET --> 
   </head>
   <body>
   <!-- BEGIN SECTION --> 
      <section id="container" class="">
	    <!-- 头部 --> 
      {include file='pub/header'}
      <block name='header'>
      </block>
		 <!-- END HEADER --> 
		 
		 <!-- 侧边栏 --> 
         {include file='pub/base'}
         <block name="sidebar">

         </block>
		 <!-- END SIDEBAR --> 
		 
		 <!-- BEGIN MAIN CONTENT --> 
         <section id="main-content">
		    <!-- BEGIN WRAPPER  -->
            <section class="wrapper site-min-height">
               <section class="panel">
                  <div class="panel-body">
                     <div class="adv-table editable-table ">
                        <div class="clearfix">
                           <div class="btn-group">
                           <h4 style="color: red">当日访问量:3</h4>
                              
                           </div>
                           <div class="btn-group pull-right">
                              <!-- <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i> -->
                              </button>
                              <ul class="dropdown-menu pull-right">
                                 <li><a href="#">Print</a></li>
                                 <li><a href="#">Save as PDF</a></li>
                                 <li><a href="#">Export to Excel</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="space15"></div>
                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                           <thead>
                              <tr>
                                 <th>Username</th>
                                 <th class="hidden-phone">Full Name</th>
                                 <th class="hidden-phone">Points</th>
                                 <th class="hidden-phone">Notes</th>
                                 
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="">
                                 <td>Jondi Rose</td>
                                 <td class="hidden-phone">Alfred Jondi Rose</td>
                                 <td class="hidden-phone">1234</td>
                                 <td class="center hidden-phone">super user</td>
                                 
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </section>
            </section>
			<!-- END WRAPPER  -->
         </section>
		 <!-- END MAIN CONTENT --> 
		 <!-- BEGIN FOOTER --> 
         {include file='pub/footer'}
         <block name='footer'>
         </block>
		 <!-- END FOOTER --> 
      </section>
	  <!-- END SECTION -->

<!-- BEGIN JS --> 	  
		{include file='pub/js'}
    <block name='js'>
    </block>
	  <!-- END JS --> 
   </body>
</html>


