<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
</head>
<link rel="stylesheet" type="text/css" href="/static/admincss.css">
<body>
	<div class="div1">
		<center>
			<h2>登录页</h2>
			<form action="admin_login.php" method="post">
				用户名：<input type="text" name="uname" placeholder="请输入用户名"><br><br><br>
				密&nbsp;&nbsp;&nbsp;码：<input type="password" name="upass" placeholder="请输入密码"><br><br><br><br>
				<button>登录</button>
			</form>
		</center>
	</div>
</body>
</html>